
body {
    z-index: 5;
    /* background-image: url("image\ 19.svg"); */
    background-image: url("original_d9992cac98f6dbb759cfc4f2901063ed.gif");
    background-size: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
.firstimg {
    width: 500px;
    margin-left: 12px; 
    padding-top: 12px;
} */

.firstimg {
    position: fixed;
   display: grid;
   grid-template-columns: repeat(18, 1fr);
   grid-template-rows: repeat(12, 1.8vw);
   grid-row-gap: 58px;
/*    grid-column-gap: 15px;*/
}

img {
    padding-right: 5%;
}

img.popped {
    width: 100px;
}

.background {
    z-index: 7;
    position: relative;
    padding-left: 0.2px;
    padding-right: 0.2px;
    margin-top: 93vh;
    width: 60px;
    height:auto; 
}